body {
    background: #325D79;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

#hr,
.hr {
    font-size: 130px;
    color: grey;
    cursor: pointer;
}

#min,
.min {
    font-size: 130px;
    color: grey;
    cursor: pointer;
}

#sec,
.sec {
    font-size: 130px;
    color: grey;
    cursor: pointer;
}

#count {
    font-size: 130px;
    cursor: pointer;
    color: red;
}

.text {
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#btn-container {
    margin-top: 10px;
    padding: 0px 10px;
}

#start {
    background: #EFC958;
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

#stop {
    background: #0ace1b;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

#reset {
    background: #EF3D59;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}